.line-view-options {
    padding: 1rem;
}

.line-view-options .form-separator {
    margin: 0 auto 0.5rem auto;
    width: 85%;
    border-bottom: 1px solid #ddd;
}

.line-view-options .display-toggle {
    margin-bottom: 0.5rem;
}

.line-view-options .display-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.line-view-options .display-toggle input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    min-width: 3.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    background: #ddd;
    border-radius: 3rem;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.line-view-options .display-toggle input[type="checkbox"]:hover {
box-shadow: 0 0 5px 1px #33b77d55;
}
  
.line-view-options .display-toggle input[type="checkbox"]:checked{
    background: #33b77d;
}

.line-view-options .display-toggle input[type="checkbox"]:after{
    position: absolute;
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: 0 0 .25rem rgba(0,0,0,.3);
    box-shadow: 0 0 .25rem rgba(0,0,0,.3);
    -webkit-transform: scale(.7);
    transform: scale(.7);
    left: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.line-view-options .display-toggle input[type="checkbox"]:checked:after{
    left: calc(100% - 1.5rem);
}