.welcome-panel {
    display: flex;
    flex-direction: column;
    font-family: 'Lato';
    font-size: 1.1rem;
    padding: 1rem;
}

.welcome-panel ul {
    padding: 0;
    margin: 0;
}

.welcome-panel li {
    background: url("/public/map-pin.svg") no-repeat left top;
    padding-left: 30px;
    list-style: none;
    line-height: 1.4rem;
    list-style-position: outside;
    margin-bottom: 0.5rem;
}

.welcome-panel li:last-of-type {
    margin-bottom: 0;
}

.welcome-panel li .question {
    font-weight: bold;
    color: #185438;
}

.welcome-panel li code {
    background-color: #35B77B11;
    border: 1px solid #33b77d55;
}
